.App {
  text-align: center;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.contenedor {
  border: 2px solid black;
  padding: 30px;
  margin-top: 10px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0px 0px 4px;

}

.FormMain {
  width: 60%;
}

.fullList {
  width: 40%;
}

.tableProducts {
  width: 90%;
}

.tableProducts .c1 {
  width: 70%;
}

.columnsContainer {
  width: 90%;
}

.titleOne {
  background-color: lightblue;
  border: 2px solid black;
  border-radius: 6px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 4px;
}
.titleTwo {
  background-color: rgb(251, 251, 185);
  border: 2px solid black;
  padding: 10px;
  box-shadow: 0px 0px 4px;
}
.titleThree {
  background-color: lightgreen;
  border: 2px solid black;
  border-radius: 0 6px 0 0;
  padding: 10px;
  box-shadow: 0px 0px 4px;
}

.stateOne {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  height: 70vh;
  box-shadow: 0px 0px 4px;
  overflow-y: auto;
  overflow-x: auto;
}
.stateTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  height: 70vh;
  box-shadow: 0px 0px 4px;
  overflow-y: auto;
  overflow-x: auto;
}
.stateThree {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  height: 70vh;
  box-shadow: 0px 0px 4px;
  overflow-y: auto;
  overflow-x: auto;
}

.linkBtn {
  color: black;
  margin-left: 10px;
}

.tableFooter {
  border: 2px solid black;
  border-radius: 0 0 6px 6px;
  box-shadow: 0px 0px 4px;
}

.hLine {
  height: 10px;
  width: 500px;
  padding-bottom: 50px;
  margin-bottom: 20px;
  border-bottom: 3px solid #dddddd;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
